/*
Theme Name:  Masterstudy child theme
Description: Tema hijo para hacer personalizaciones de código
Author:      Gustavo Vzqz
Author URL:  https://tu-sitio.com
Template:    masterstudy
Version:     1.0
License:     GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: masterstudy-child
*/

.stm_lms_course__input {
    margin-top: 30px;
}

.stm_lms_course_metas {
    margin: 10px 0 20px;
    padding: 25px 20px;
    border: 1px solid #e1e2e4;
    border-radius: 9px;
}

.stm_lms_course_metas__item span {
    margin-right: 5px;
}

#course_add_popup .modal-content {
    width: initial;
    margin: initial;
}

#course_add_popup .details {
    display: flex;
    flex-wrap: wrap;
}

#course_add_popup .details img {
    width: 20%;
}

#course_add_popup .details .name {
    width: 80%;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}

#course_add_popup .details .btn {
    margin-left: auto;
    margin-top: 10px;
}

#course_add_popup .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

body .stm-lms-lesson_navigation {
    width: calc(100% - 35%);
    margin: 0 0 -94px 5.5% !important;
    border-bottom: 1px solid #ddd;
    z-index: 1;
    position: relative;
}

body .stm-lms-wrapper.lesson_style_classic #stm-lms-lessons {
    margin-top: 94px;
    flex: 0 0 75%;
    transition: .3s ease;
}

body .course-progress {
    top: 30px;
    bottom: unset;
    margin-top: 0;
}

body .stm-lms-wrapper.lesson_style_classic .stm-lms-course__curriculum .stm-curriculum {
    padding-top: 170px;
    padding-bottom: 40px;
}

body .stm-lms-lesson_navigation_complete {
    top: 0;
}

body .stm-lms-lesson_navigation .stm-lms-lesson_navigation_complete {
    width: 25%;
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    position: relative;
    overflow: visible !important;
    text-transform: uppercase;
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn.loading {
    min-height: 22px !important;
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn.loading span {
    opacity: 0;
    display: inline-block;
    width: auto;
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn.loading::before {
    display: inline-block !important;
    top: 0;
    border: 2px solid rgba(0, 0, 0, .5);
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn:hover::after, body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn::after {
    content: none !important;
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn span {
    font-size: 15px;
    color: #273044;
    font-weight: 600;
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn i {
    color: #273044;
    font-size: 19px;
    margin-left: 4px;
}

body .stm-lms-lesson_navigation .stm_lms_complete_lesson.btn i::before {
    content: "\f061" !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
}

.stm-lms-wrapper.lesson_style_classic .stm-lms-course__sidebar {
    margin-top: 0;
    flex: 0 0 0 !important;
}

body.lesson-sidebar-opened .stm-lms-wrapper.lesson_style_classic .stm-lms-course__sidebar {
    flex: 0 0 25% !important
}

body.lesson-sidebar-opened #stm-lms-lessons {
    flex: 0 0 50% !important;
}

.stm-member {
    display: flex;
}

.stm-member__info {
    width: calc(50% - 20px);
    display: flex;
    margin-right: 20px;
    box-shadow: 0 0 3px rgb(0 0 0 / 15%);
    border-radius: 4px;
    padding: 10px 15px;
}

.stm-member__info p i {
    position: relative;
    top: 1px;
}

.stm-member__sertificate {
    width: 25%;
    background-color: rgb(242, 242, 252);
    border-radius: 4px;
    padding: 10px 15px;
}

.stm-member__courses {
    width: calc(25% - 20px);
    margin-right: 20px;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: rgb(47 50 92);
    color: #fff;
}

.stm-member__courses h3 {
    color: #fff;
}

.stm-member__courses h3 i, .stm-member__sertificate h3 i {
    margin-right: 5px;
}

.stm-member__avatar img.avatar.photo {
    max-width: 155px;
    max-height: max-content;
    border-radius: 4px;
}

.stm-member__avatar {
    margin-right: 15px;
}

.stm-member__settings {
    margin-left: auto;
}

.stm-member__settings a {
    color: #000;
}

.stm-member__settings a i {
    position: relative;
    top: 3px;
}

.stm-member .stm-member__btn {
    margin-inline: auto;
    display: block;
    width: max-content;
    padding: 10px 15px;
    font-size: 12px;
}

.stm-member__counter {
    text-align: center;
    font-size: 24px;
}

.stm-member-tab {
    margin-top: 35px;
}

.stm-member-content__item {
    display: none;
}

.stm-member-content__item.active {
    display: block;
}

#wishlist .stm_lms_user_info_top {
    display: none;
}

html.stm_lms_type_stream body .stm-lms-lesson_navigation .stm_lms_complete_lesson:not(.completed) span, html.stm_lms_type_video body .stm-lms-lesson_navigation .stm_lms_complete_lesson:not(.completed) span {
    color: #273044 !important;
}

body .not-passed .stm-lms-quiz__result, body .passed .stm-lms-quiz__result {
    transform: translate(-50%, -50%);
}

.stm-lms-quiz__result_number > p {
    font-size: 26px;
    line-height: normal;
    color: #d67976;
}

#recommend-courses .stm_lms_related_courses {
    padding-top: 0;
}

.stm_lms_confirm_certificate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    z-index: 99999999999;
    opacity: 0;
    visibility: hidden;
}

.stm_lms_confirm_certificate.active {
    opacity: 1 !important;
    visibility: visible;
}

.stm_lms_confirm_certificate__inner {
    position: relative;
    width: 630px;
    padding: 72px 120px 60px;
    background-color: #fff;
    box-shadow: 0 20px 70px 0 rgba(0, 0, 0, .27);
    z-index: 900;
}

#confirm_certificate_form {
    margin-bottom: 20px;
}

.stm_lms_confirm_certificate__inner input {
    width: 100%;
    margin-bottom: 10px;
}

#confirm_certificate_form_btn.loading {
    font-size: 0;
}

.masterstudy-theme .stm-lms-wrapper .stm-lms-user-certificates .stm-lms-user-quiz .stm_preview_certificate {
    text-align: center;
    padding-left: 0;
}

.wc-block-cart__submit-button {
    background-color: #1e1e1e !important;
    color: #fff !important;
}

@media (max-width: 1440px) {
    body .stm-lms-lesson_navigation {
        width: calc(100% - 44%);
        margin: 0 auto -94px 5% !important;
    }

    body .stm-lms-wrapper.lesson_style_classic #stm-lms-lessons {
        flex: 0 0 65%;
    }

    body.lesson-sidebar-opened #stm-lms-lessons {
        flex: 0 0 65% !important;
    }

    .stm-lms-lesson_navigation .stm-lms-lesson_navigation_side {
        width: 40% !important;
    }
}

@media (max-width: 1199px) {
    .stm-member__settings a {
        font-size: 0;
    }

    .stm-member__settings a i {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    body .stm_lms_complete_lesson.btn {
        text-align: right;
    }

    body .stm_lms_complete_lesson.btn span {
        display: none;
    }

    body .stm-lms-lesson_navigation .stm-lms-lesson_navigation_complete {
        text-align: right;
    }

    body .stm-lms-wrapper.lesson_style_classic #stm-lms-lessons {
        flex: 0 0 55%;
    }

    body.lesson-sidebar-opened #stm-lms-lessons {
        flex: 0 0 55% !important;
    }

    .stm-member__info p {
        word-break: break-all;
    }
}

@media (max-width: 767px) {
    #course_add_popup h2 {
        font-size: 26px;
    }

    #course_add_popup .details .btn {
        padding: 10px 20px;
    }

    body .stm_lms_complete_lesson.btn {
        width: auto;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body .stm-lms-lesson_navigation {
        margin: 0 auto -94px 20px !important;
    }

    body .stm-lms-wrapper.lesson_style_classic .stm-lms-course__sidebar_toggle {
        top: 110px !important;
    }

    .stm-lms-lesson_navigation .stm-lms-lesson_navigation_side {
        justify-content: center !important;
    }

    body .stm_lms_complete_lesson.btn.loading::before {
        top: 11px !important;
    }

    body .stm-lms-wrapper.lesson_style_classic #stm-lms-lessons {
        flex: 0 0 100%;
    }

    body.lesson-sidebar-opened #stm-lms-lessons {
        flex: 0 0 100% !important;
    }

    .stm-member {
        flex-wrap: wrap;
        width: auto;
        margin: 0 -15px;
    }

    .stm-member__info {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .stm-member__courses {
        width: calc(50% - 10px);
        margin-right: 10px;
    }

    .stm-member__sertificate {
        width: 50%;
    }

    .stm-member__courses h3, .stm-member__sertificate h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .stm-member .stm-member__btn {
        padding: 5px 9px;
    }

    .stm-member-tab {
        width: auto;
        margin: 25px -15px 0;
    }

    .stm-member-tab #buddypress {
        margin-bottom: 20px;
    }

    .stm-member-content {
        width: auto;
        margin: 0 -15px;
    }

    body .stm-lms-lesson_navigation {
        width: auto;
        border-top: none;
        padding-top: 0;
    }
}


.stm-modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1111;

    height: 100%;
    width: 100%;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.stm-modal.success {
    opacity: 1;
    visibility: visible;
}

.stm-moldal-content {
    background: #fff;
    width: 270px;
    border: 5px solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.stm-modal-img {
    content: url("/wp-content/themes/masterstudy-child/assets/image/manual_descargable.png");
    width: 120px;
    height: 100%;
    margin: 0 auto;
}

.stm-modal-title {
    color: #245fff;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 5px;
}

.stm-modal-text {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
    color: #92a1acfc;
}

.stm-modal-button a {
    background: linear-gradient(135deg, rgba(36, 97, 255, 1) 0%, rgba(115, 92, 255, 1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px;
    -webkit-transition: .2s linear !important;
    -moz-transition: .2s linear !important;
    -ms-transition: .2s linear !important;
    -o-transition: .2s linear !important;
    transition: color 2s linear !important;
}

.stm-modal-button a:hover {
    color: #fff !important;
    background: linear-gradient(135deg, rgb(36 126 255) 0%, rgb(141 92 255) 100%) !important;
}


.stm__order {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin-bottom: 30px;
}

.stm_order_title {
    color: #96cfeb;
    font-size: 28px;
}

.stm_order__ {
    margin: 0;
    color: #7a78a2;
    font-size: 16px;
    line-height: 1;
}

/*9693) [1]=> int(8842)*/
/*9692" [1]=> string(4) "8841" }*/

.stm_order_item {
    padding: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    /*box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);*/
}

.stm_order_item__factura {
    display: flex;
    flex-direction: column;
}

.stm_order_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.stm_order_header p {
    line-height: 1.4;
    font-weight: 500;
    font-size: 15px;
}


.stm_order_header img {
    width: 160px;
}

.stm__course_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0px rgba(193, 202, 209, 0.4);
    padding: 10px;
    margin-bottom: 15px;
}


.stm__course_info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stm__course_info h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

.stm__course_info p {
    display: flex;
    gap: 5px;
    align-items: center;

    margin: 0;

    color: #4d81fd !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.stm__course_info p i {
    color: #4d81fd !important;
}

.stm__course_btn a {
    color: #000;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border: 2px solid #9496ff;
    padding: 7px 15px;
    transition: .2s linear;
}

.stm__course_btn a:hover {
    background: #2a67fb;
    color: #fff !important;
    border: 2px solid #2a67fb;
}

.stm__course_img img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    object-fit: cover;
}

.stm_factura_title {
    color: #2a67fbc4;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}


.stm_factura__total {
    background: #e6e6f9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 2px;

    font-family: 'roboto';
    margin-bottom: 30px;
}

.stm_factura__total span {
    text-transform: uppercase;
    font-weight: 700;
}

.stm_facture_ticket {
    display: flex;
    align-items: center;
    gap: 20%;
    text-transform: uppercase;
}


.stm_facture_ticket p, .stm_product_title {
    margin: 0;
    color: #c4c4d5;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.stm_product_title {
    margin-bottom: 5px;
}

.stm_product__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    font-family: 'roboto';
}

.stm_product__title {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.stm_product__item--name {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 14px;
}

.stm_subtotal_info {
    gap: 15px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.stm_subtotal_item {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.stm_subtotal_item p {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
}

.stm_product__item--price {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.stm_facture_ticket strong {
    font-family: 'roboto';
}


.stm_order_download a {
    background: #2a67fb;
    display: block;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    color: #fff !important; 
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    font-family: 'Roboto' !important;
}

.stm_subtotal_price {
    font-family: 'Roboto' !important;
}

.stm_order_download a:hover {
    color: #fff !important;
    background: #2955bf;
}

.order_download_btn:focus {
    color: #fff;
}

.elementor-element-c2be929 {
    background: url('/wp-content/themes/masterstudy-child/assets/image/Slide4.jpg') no-repeat center center;
    background-size: cover; /* Этот стиль масштабирует изображение, чтобы оно полностью заполнило элемент */
    height: 350px;
}

.elementor-element-e414f4f {
    display: none;
}

.stm__course_item:last-child {
    margin: 0;
}


@media (max-width: 1024px) {
    .stm__order {
        grid-template-columns: 1fr;
    }

    .stm_order_item {
        box-shadow: 0px 0px 8px 0px rgba(155, 155, 155, .5);
    }
}



@media (max-width: 550px) {
    .stm__order {
        grid-template-columns: 1fr;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .stm_order_item {
        padding: 20px;
    }

    .stm_order_item:first-child {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .stm_order__woo {
        margin-top: -350px !important;
    }
    .stm__course_img img {
        width: 100%;
        height: auto;
    }

    .stm__course_info , .stm__course_item{
        flex-direction: column;
    }

    .stm__course_item {
        flex-direction: column;
        gap: 15px;
    }

    .stm__course_btn a , .stm__course_btn{
        width: 100%;
        display: block;
        text-align: center;
    }

    .stm_product__item--price {
        font-size: 14px;
    }
}